<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>CloudKinTo 日本海外仓服务</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <script>
        addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);
    
        function hideURLbar() {
			window.scrollTo(0, 1);
		}
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
      <link rel="shortcut icon" href="./logo.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link href="http://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- //Web-Fonts -->
</head>

<body>
    <!-- header -->
<header id="home">
      <div class="container">
        <div
          class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1"
        >
          <!-- logo -->
          <div id="logo">
            <!-- <h1 class="letter-wrap"><a href="index.html" >CloudKinTo</a></h1> -->
            <!-- <h1 class="letter-wrap"><a href="index.html" >CloudKinTo</a></h1> -->
            <a href="index.html" class="logo_click"><img src="../static/images/logo.png"></a>
          </div>
          <!-- //logo -->
          <!-- nav -->
          <div class="nav_w3ls ml-lg-5">
            <nav>
              <label for="drop" class="toggle">Menu</label>
              <input type="checkbox" id="drop" />
              <ul class="menu">
                <li><a href="index.html">首页</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="portfolio.html">流程资费</a></li>
                <li><a href="index.html#portfolio">FAQ帮助</a></li>
                <li><a href="contact.html">联系我们</a></li>
                <li class="ml-xl-5 ml-lg-2 mt-lg-0 mt-sm-4 mt-3">
                  <a href="login.html" class="reqe-button text-uppercase"
                    >登录</a
                  >
                  <a href="register.html" class="reqe-button text-uppercase"
                    >注册</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <!-- //nav -->
        </div>
      </div>
    </header>
    <!-- //header -->
    <!-- inner banner -->
    <div class="inner-banner-w3ls d-flex flex-column justify-content-center align-items-center" id="movetop">
    </div>
    <!-- //inner banner -->
    <!-- breadcrumbs -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
                <a href="index.html">首页</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">联系我们</li>
        </ol>
    </nav>
    <!-- //breadcrumbs -->

    <!-- contact -->
    <section class="contact-wthree align-w3" id="contact">
        <div class="container">
            <div class="wthree_pvt_title text-center">
                <h4 class="w3pvt-title">联系我们
                </h4>
                <p class="sub-title">如果您有不懂的问题,或者业务合作可以在此联系我们</p>
            </div>
          
            <div class="row mt-4">
                <div class="col-lg-7">
                    <h5 class="cont-form">给我们发送信息</h5>
                    <div class="contact-form-wthreelayouts">
                        <form action="#" method="post" class="register-wthree">
                            <div class="form-group">
                                <label>
                                    您的名字
                                </label>
                                <input class="form-control" type="text"  name="name" required="">
                            </div>
                            <div class="form-group">
                                <label>
                                  您的电话
                                </label>
                                <input class="form-control" type="text"  name="mobile" required="">
                            </div>
                            <div class="form-group">
                                <label>
                                    您的邮箱地址
                                </label>
                                <input class="form-control" type="email"  name="email"
                                    required="">
                            </div>
                            <div class="form-group">
                                <label>
                                    其他信息
                                </label>
                                <textarea placeholder="....." name="message" class="form-control"></textarea>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn btn-w3layouts btn-block bg-theme text-wh w-100 font-weight-bold text-uppercase">Send</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-5 text-center">
                    <h5 class="cont-form">我们的联系方式</h5>
                    <div class="row flex-column">
                        <div class="contact-w3">
                            <span class="fa fa-envelope-open  mb-3"></span>
                            <div class="d-flex flex-column">
                                <a href="Jackinbob@sanchoum.com" class="d-block">Jackinbob@sanchoum.com</a>
                           
                            </div>
                        </div>
                        <div class="contact-w3 my-4">
                            <span class="fa fa-phone mb-3"></span>
                            <div class="d-flex flex-column">
                                <p> 0512-62764456</p>
                             
                            </div>
                        </div>
                        <div class="contact-w3">
                            <span class="fa fa-home mb-3"></span>
                            <address>江苏省苏州市 <br>园区新平街388-A1-408</address>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <!-- //contact -->

    <!-- footer -->
     <footer class="footer py-md-5 pt-md-3 pb-sm-5">
      <div class="container">
        <div class="row p-sm-4 px-3 py-3">
          <div class="col-lg-6 footer-top mt-md-0 mt-sm-5">
            <h2>
           <h3 class="mb-3 w3f_title">   联系我们</h3>
              <hr />
              
            </h2>
            <div class="fv3-contact mt-2">
              <p>
                邮箱: <a href="mailto:Jackinbob@sanchoum.com">Jackinbob@sanchoum.com</a>
              </p>
            </div>
            <div class="fv3-contact my-2">
             <p> 电话: 0512-62764456</p>
            </div>
            <div class="fv3-contact">
              <p>地址: 江苏省苏州市<br> 园区新平街388-A1-408</p>
            </div>
          </div>
          <div class="col-lg-3  col-md-6 mt-lg-0 mt-4">
            <div class="footerv2-w3ls">
              <h3 class="mb-3 w3f_title">支持</h3>
              <hr />
              <ul class="list-w3pvtits">
                <li>
                  <a href="#portfolio">
                    常见问题
                  </a>
                </li>
                <li class="my-2">
                  <a href="about.html">
                    服务协议
                  </a>
                </li>
                <li class="my-2">
                  <a href="portfolio.html">
                    隐私政策
                  </a>
                </li>
                <li class="mb-2">
                  <a href="single.html">
                    开发文档
                  </a>
                </li>
                <li>
                  <a href="contact.html">
                    加入我们
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3  col-md-6 mt-lg-0 mt-4">
            <div class="footerv2-w3ls">
              <h3 class="mb-3 w3f_title">关于</h3>
              <hr />
              <ul class="list-w3pvtits">
                <li>
                  <a href="about.html">
                    关于我们
                  </a>
                </li>
                <li class="my-2">
                  <a href="single.html">
                    联系我们
                  </a>
                </li>
                <li class="my-2">
                  <a href="portfolio.html">
                    合作伙伴
                  </a>
                </li>
              </ul>
            </div>
          </div>
    
        </div>
      </div>
      <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center bg-theme">
      <p class="text-wh">
        Copyright &copy; 2019.Company name All rights reserved.
      </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#movetop" class="move-top text-center">
        <span class="fa fa-level-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->

</body>

</html>