<!DOCTYPE html>
<html lang="zxx">
  <head>
    <title>CloudKinTo 日本海外仓服务</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8" />
    <meta name="keywords" content="" />
    <script>
      addEventListener(
        "load",
        function() {
          setTimeout(hideURLbar, 0);
        },
        false
      );

      function hideURLbar() {
        window.scrollTo(0, 1);
      }
    </script>
    <!-- //Meta tag Keywords -->

    <!-- Custom-Files -->
    <link rel="shortcut icon" href="./logo.ico" />
    <link rel="stylesheet" href="../static/css/bootstrap.css" />
    <!-- Bootstrap-Core-CSS -->
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
    <!-- Style-CSS -->
    <link href="../static/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Font-Awesome-Icons-CSS -->
    <!-- //Custom-Files -->

    <!-- Web-Fonts -->
    <link
      href="http://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
      rel="stylesheet"
    />
    <link
      href="http://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i"
      rel="stylesheet"
    />
    <!-- //Web-Fonts -->
  </head>

  <body>
    <!-- header -->
    <header id="home">
      <div class="container">
        <div
          class="header d-lg-flex justify-content-between align-items-center py-sm-3 py-2 px-sm-2 px-1"
        >
          <!-- logo -->
          <div id="logo">
            <!-- <h1 class="letter-wrap"><a href="index.html" >CloudKinTo</a></h1> -->
            <!-- <h1 class="letter-wrap"><a href="index.html" >CloudKinTo</a></h1> -->
            <a href="index.html" class="logo_click"><img src="../static/images/logo.png"></a>
          </div>
          <!-- //logo -->
          <!-- nav -->
          <div class="nav_w3ls ml-lg-5">
            <nav>
              <label for="drop" class="toggle">Menu</label>
              <input type="checkbox" id="drop" />
              <ul class="menu">
                <li><a href="index.html">首页</a></li>
                <li><a href="about.html">关于我们</a></li>
                <li><a href="portfolio.html">流程资费</a></li>
                <li><a href="index.html#portfolio">FAQ帮助</a></li>
                <li><a href="contact.html">联系我们</a></li>
                <li class="ml-xl-5 ml-lg-2 mt-lg-0 mt-sm-4 mt-3">
                  <a href="login.html" class="reqe-button text-uppercase"
                    >登录</a
                  >
                  <a href="register.html" class="reqe-button text-uppercase"
                    >注册</a
                  >
                </li>
              </ul>
            </nav>
          </div>
          <!-- //nav -->
        </div>
      </div>
    </header>
    <!-- //header -->

    <!-- banner -->
    <section class="banner" id="movetop">
      <!-- banner text -->
      <div class="container">
        <div class="banner_text_wthree_pvt">
          <h3 class="home-banner-w3 ex2">我们专注于日本海外仓服务</h3>
          <p class="bnr-txt ex1">
         全面的各种服务 本土快递服务优势 365日极速客服 仓储据点遍布日本
          </p>
          <!-- <form action="#" method="post" class="d-flex serching-styles-w3pvt">
            <input
              type="search"
              class="serach-input"
              placeholder="输入您的物流编号"
              name="search"
              required
            />
            <button class="btn bg-theme button-w3" type="button">查询</button>
          </form> -->
        </div>
      </div>
      <!-- //banner text -->
      <!-- banner-bottom -->

      <!-- //banner-bottom -->
    </section>
    <!-- //banner -->

    <!-- about-->
    <section class="single_grid_w3_main align-w3-abt" id="about">
      <div class="container">
        <div class="wthree_pvt_title text-center">
          <h4 class="w3pvt-title">我们提供的服务</h4>
          <p class="sub-title">让您更省事、省心、省力。</p>
        </div>
        <div class="row row2">
          <div class="col-lg-4">
            <div class="abt-grid">
              <div class="row">
                <div class="col-3">
                  <div class="abt-icon fuwu_img">
                    <img src="../static/images/1.png" alt="" />

                    <!-- <span class="fa fa- Example of mail-forward"></span> -->
                  </div>
                </div>
                <div class="col-9">
                  <div class="abt-txt">
                    <h4>FBA头程</h4>
                    <p>
                      Lo sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 my-lg-0 my-4">
            <div class="abt-grid">
              <div class="row">
                <div class="col-3">
                  <div class="abt-icon fuwu_img">
                    <img src="../static/images/2.png" alt="" />
                    <!-- <span class="fa fa-ship"></span> -->
                  </div>
                </div>
                <div class="col-9">
                  <div class="abt-txt">
                    <h4>日本仓储</h4>
                    <p>
                      Lo sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="abt-grid">
              <div class="row">
                <div class="col-3">
                  <div class="abt-icon fuwu_img">
                    <img src="../static/images/3.png" alt="" />
                    <!-- <span class="fa fa-plane"></span> -->
                  </div>
                </div>
                <div class="col-9">
                  <div class="abt-txt">
                    <h4>整理包装</h4>
                    <p>
                      Lo sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-lg-4">
            <div class="abt-grid">
              <div class="row">
                <div class="col-3">
                  <div class="abt-icon fuwu_img">
                    <img src="../static/images/4.png" alt="" />
                    <!-- <span class="fa fa-subway"></span> -->
                  </div>
                </div>
                <div class="col-9">
                  <div class="abt-txt">
                    <h4>本土派送</h4>
                    <p>
                      Lo sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 my-lg-0 my-4">
            <div class="abt-grid">
              <div class="row">
                <div class="col-3">
                  <div class="abt-icon fuwu_img">
                    <img src="../static/images/5.png" alt="" />
                    <!-- <span class="fa fa-ship"></span> -->
                  </div>
                </div>
                <div class="col-9">
                  <div class="abt-txt">
                    <h4>FBA退货换标</h4>
                    <p>
                      Lo sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="abt-grid">
              <div class="row">
                <div class="col-3">
                  <div class="abt-icon fuwu_img">
                    <img src="../static/images/6.png" alt="" />
                    <!-- <span class="fa fa-plane"></span> -->
                  </div>
                </div>
                <div class="col-9">
                  <div class="abt-txt">
                    <h4>返品检测拍照</h4>
                    <p>
                      Lo sea takimata sanctus est Lorem ipsum dolor sit amet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center">
          <a href="about.html" class="btn w3ls-btn">了解更多</a>
        </div>
      </div>
    </section>
    <!-- //about -->

    <!-- services -->
    <section class="bg-services position-relative align-w3" id="services">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12">
            <div class="services-bg-color">
              <div class="wthree_pvt_title mb-3">
                <h4 class="w3pvt-title w3pvt-titl-sec text-wh text-center">
                  我们的信念
                </h4>
                <span class="sub-title text-li xingnian_span">这也是长久以来我们一直去选择坚持的事情</span>
              </div>
              <div class="row">
                <div class="col-md-6 service-title my-4 text-center">
                  <h4 class="home-title text-theme">
                    免费为您提供最佳的解决方案
                  </h4>
                  <p class="sec-4">
                  <kbd>Giving The Best Solutions.</kbd>  
                  </p>
                </div>
                <div class="col-md-6 service-title my-md-4 text-center">
                  <h4 class="home-title text-theme">
                    时刻为您提供最周到的服务
                  </h4>
                  <p class="sec-4">
                   <kbd>At any time to provide you with the most thoughtful service.</kbd> 
                  </p>
                </div>
                <div class="col-md-6 service-title mt-4 text-center">
                  <h4 class="home-title text-theme">
                    客户满意是我们不懈追求的目标
                  </h4>
                  <p class="sec-4">
                   <kbd>Customer satisfaction is our goal.</kbd> 
                  </p>
                </div>
                <div class="col-md-6 service-title mt-4 text-center">
                  <h4 class="home-title text-theme">一对一客服全天在线为您解决问题</h4>
                  <p class="sec-4">
              <kbd> Customer service will be online all day to solve your problems.</kbd>
                  </p>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <a href="about.html" class="btn w3ls-btn ">了解更多</a>
              </div>
            </div>
          </div>
          <div class="offset-lg-2"></div>
        </div>
      </div>
    </section>
    <!-- //services -->

    <!-- portfolio -->
    <section class="portfolio-wthree align-w3 py-5" id="portfolio" name="portfolio">
      <div class="container py-xl-5 py-lg-3">
        <div class="wthree_pvt_title text-center">
          <h4 class="w3pvt-title" >FAQ帮助</h4>
          <p class="sub-title">
          您可以在此处了解到一些常见问题的解答,如有其它问题您可以拨打&nbsp;<kbd>电话: 0512-62764456</kbd> &nbsp;咨询我们的24小时客服
          </p>
        </div>
        <div>
          <ul class="demo row">
            <li class="col-lg-4">
              <div class="img-grid">
                <div class="Portfolio-grid1">
                  <a href="#gal1">
                    <img src="../static/images/g6.jpg" alt=" " class="img-fluid" />
                 
                </div>
                <div class="port-desc text-center">
                  <h6 class="main-title-w3pvt text-center">头程问题</h6>
              <p class="FAQ_btn">
                   点击查看
                  </p>
                </div>
                 </a>
              </div>
            </li>
            <li class="col-lg-4">
              <div class="img-grid">
                <div class="Portfolio-grid1">
                  <a href="#gal2">
                    <img src="../static/images/g2.jpg" alt=" " class="img-fluid" />
                 
                </div>
                <div class="port-desc text-center">
                  <h6 class="main-title-w3pvt text-center">仓库问题</h6>
                  <p class="FAQ_btn">
                   点击查看
                  </p>
                </div>
                 </a>
              </div>
            </li>
            <li class="col-lg-4">
              <div class="img-grid">
                <div class="Portfolio-grid1">
                  <a href="#gal3">
                    <img src="../static/images/g3.jpg" alt=" " class="img-fluid" />
                 
                </div>
                <div class="port-desc text-center">
                  <h6 class="main-title-w3pvt text-center">退货换问题</h6>
                  <p class="FAQ_btn">
                   点击查看
                  </p>
                </div>
                 </a>
              </div>
            </li>
          
          </ul>
        </div>
        <!-- popup-->
        <div id="gal1" class="popup-effect animate">
          <div class="popup">
            <img src="../static/images/g1.jpg" alt="Popup Image" class="img-fluid" />
            <!-- 问题1 -->
            <p class="FAQ_click_text  mt-1 ">你们是否提供日亚头程服务?</p>
            <p class="editContent mt-1 text-left">
            我们提供日亚FBA运输服务，目前在深圳，宁波，上海有货仓集货海运直发日亚FBA服务，具体报价请咨询我们的客服。
            </p>
            <!-- 问题2 -->
           <p class="FAQ_click_text  mt-1 ">头程清关由谁负责?关税怎么算?</p>
            <p class="editContent mt-1 text-left">
            日本头程清关可以选择使用我们的日本进口商，由我们负责清关派送。日本关税+消费税一般是9-13%左右，视货物具体情况而异。我司清关的货物按照申报货值普货10%，纺织品18%固定收取，且申报货值不能低于其平台销售价的25%。
            </p>
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal2" class="popup-effect animate">
          <div class="popup">
            <img src="../static/images/g2.jpg" alt="Popup Image" class="img-fluid" />
            <!-- 问题1 -->
            <p class="FAQ_click_text  mt-1 ">我是日本乐天、雅虎卖家,可以使用你们的仓库吗?</p>
            <p class="editContent mt-1 text-left">
            当然可以的，ocloud pear海外仓适合各大平台卖家，Amazon,楽天,雅虎等平台卖家都可使用，系统支持日亚API订单导入，支持楽天订单批量导入。
            </p>
            <!-- 问题2 -->
            <p class="FAQ_click_text  mt-1 ">能否把货物转运回中国?</p>
            <p class="editContent mt-1 text-left">
            仓库可以根据您的需要把货物转运回中国，或者香港。
            </p>
            <!-- 问题3 -->
             <p class="FAQ_click_text  mt-1 ">仓储保管费用?</p>
            <p class="editContent mt-1 text-left">
            日本仓保管存储费每天每立方80日币，无免仓期，按照货物实际体积出库收取（我们可能会根据淡旺季做微调整）,请您随时关注官网后台公告!
            </p>
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup -->
        <!-- popup-->
        <div id="gal3" class="popup-effect animate">
          <div class="popup">
            <img src="../static/images/g3.jpg" alt="Popup Image" class="img-fluid" />
            <!-- 问题1 -->
           <p class="FAQ_click_text  mt-1 ">是否支持FBA换标退货?</p>
            <p class="editContent mt-1 text-left">
            仓库自备全新的FBA空白粘贴标签，以及高速激光打印机。您只需要系统提交给我们您新的FBA标签的PDF文档即可，仓库会打印出新的FBA标签，然后覆盖住您产品上的旧的标签。
            </p>
            <!-- 问题2 -->
             <p class="FAQ_click_text  mt-1 ">是否支持拍照、清点、核对货物?</p>
            <p class="editContent mt-1 text-left">
            仓库支持货物中转FBA仓或者其他第三方仓库，如有需要，可以提供拍照，核对，清点，加固等服务。
            </p>
            <!-- 问题3 -->
            <p class="FAQ_click_text  mt-1 ">能否对退换货进行简单的修复处理?</p>
            <p class="editContent mt-1 text-left">
            仓库会根据货物使用情况进行简单的修复处理，包括更换新的标签以便能进行二次销售。
            </p>
            <a class="close" href="#gallery">&times;</a>
          </div>
        </div>
        <!-- //popup3 -->
        <!-- popup-->
       
        <!-- //popup -->
      </div>
    </section>
    <!-- //portfolio -->

    <!-- slide -->
    <section class="wthree-slie-btm py-lg-5" id="more">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6">
            <div class="slide-banner pl-0"></div>
          </div>
          <div class="col-lg-6 mt-lg-0 mt-4">
            <div class="container">
              <div class="wthree_pvt_title">
                <h4 class="w3pvt-title">期待与您的合作</h4>
              </div>
              <div class="row flex-column">
                <div class="abt-grid">
                  <div class="row">
                    <div class="col-3">
                      <div class="abt-icon">
                        <span class="fa fa-child"></span>
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="abt-txt ml-0">
                        <h4 >更优质的服务与保障</h4>
                        <p class="mt-4">
                         我们一直在提供对客户的服务质量,现在如此,以后也是不会改变。
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="abt-grid mt-4 pt-lg-2">
                  <div class="row">
                    <div class="col-3">
                      <div class="abt-icon">
                        <span class="fa fa-truck"></span>
                      </div>
                    </div>
                    <div class="col-9">
                      <div class="abt-txt ml-0">
                        <h4>更好更高效的解决方案</h4>
                        <p class="mt-4">
                         专业的团队,成熟的经验,希望我们可以为您做到更多。
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-start">
                <a href="about.html" class="btn w3ls-btn">加入我们</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- //slide -->

    <!-- blog -->
  
    <!-- //blog -->

    <!-- footer -->
    <footer class="footer py-md-5 pt-md-3 pb-sm-5">
      <div class="container">
        <div class="row p-sm-4 px-3 py-3">
          <div class="col-lg-6 footer-top mt-md-0 mt-sm-5">
            <h2>
           <h3 class="mb-3 w3f_title">   联系我们</h3>
              <hr />
              
            </h2>
            <div class="fv3-contact mt-2">
              <p>
                邮箱: <a href="mailto:Jackinbob@sanchoum.com">Jackinbob@sanchoum.com</a>
              </p>
            </div>
            <div class="fv3-contact my-2">
             <p> 电话: 0512-62764456</p>
            </div>
            <div class="fv3-contact">
              <p>地址: 江苏省苏州市<br> 园区新平街388-A1-408</p>
            </div>
          </div>
          <div class="col-lg-3  col-md-6 mt-lg-0 mt-4">
            <div class="footerv2-w3ls">
              <h3 class="mb-3 w3f_title">支持</h3>
              <hr />
              <ul class="list-w3pvtits">
                <li>
                  <a href="#portfolio">
                    常见问题
                  </a>
                </li>
                <li class="my-2">
                  <a href="about.html">
                    服务协议
                  </a>
                </li>
                <li class="my-2">
                  <a href="portfolio.html">
                    隐私政策
                  </a>
                </li>
                <li class="mb-2">
                  <a href="single.html">
                    开发文档
                  </a>
                </li>
                <li>
                  <a href="contact.html">
                    加入我们
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-3  col-md-6 mt-lg-0 mt-4">
            <div class="footerv2-w3ls">
              <h3 class="mb-3 w3f_title">关于</h3>
              <hr />
              <ul class="list-w3pvtits">
                <li>
                  <a href="about.html">
                    关于我们
                  </a>
                </li>
                <li class="my-2">
                  <a href="single.html">
                    联系我们
                  </a>
                </li>
                <li class="my-2">
                  <a href="portfolio.html">
                    合作伙伴
                  </a>
                </li>
              </ul>
            </div>
          </div>
    
        </div>
      </div>
      <!-- //footer bottom -->
    </footer>
    <!-- //footer -->
    <!-- copyright -->
    <div class="cpy-right text-center bg-theme">
      <p class="text-wh">
        Copyright &copy; 2019.Company name All rights reserved.
      </p>
    </div>
    <!-- //copyright -->
    <!-- move top icon -->
    <a href="#movetop" class="move-top text-center">
      <span class="fa fa-level-up" aria-hidden="true"></span>
    </a>
    <!-- //move top icon -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/index.js"></script>

    
  </body>
</html>
